$color__main: #53C0D6;

$color__background-body: #f1f2f5;
$color__background-section: #ffffff;
$color__background-header: #ffffff;
$color__background-footer: #45484d;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-pane: #ffffff;
$color__bg-panel-separator: #d9dadd;
$color__bg-mission-icon: #57c0d5;

$color__text-main: #5b6172;
$color__text-main-white: #575656;
$color__h: #575656;
$color__h-white: #5dc0c9;
$color__text-event-label: #61c0bd;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-footer: #979eb1;

$color__link: #61c0bd;
$color__link-visited: #61c0bd;
$color__link-hover: #61c0bd;
$color__link-footer: #5dc0c9;
$color__link-footer-social: #61c0bd;

$color__button: #61c0bd;
$color__bg-button: #5fc0c3;
$color__button-filled: #ffffff;

$color__border-button: #26bdb9;
$color__border-button-hover: #26bdb9;
$color__border-button-focus: #26bdb9;
$color__border-input: #5BC0C3;
$color__border-abbr: #666;
$color__border-top-footer: #585b61;

$color__carousel-arrow: #61c0bd;
$color__carousel-dot: #979eb1;
$color__carousel-dot-active: #5fc0c3;

$font__main: 'Open Sans', sans-serif;
$font__h: 'Museo Sans', sans-serif;
$font__h-rounded: 'Museo Sans Rounded', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.64285714;
$font__line-height-pre: 1.6;